@import "common/variable";
// // move me
// $colorBlack: #333;
// $color-color-primary-blue-blue: rgb(224, 224, 224);
// $colorPendingMilestone: rgb(154, 216, 154);
// $colorCompleteMilestone: rgb(0, 177, 0);
$color-primary-blue: #008afc;
// .milestone__title {
//   margin: 0 0 14px 0;
//   font-size: 1.4em;
// }
// .roadmap-progress {
//   pointer-events: none;
//   max-width: 300px;
//   ul {
//     padding: 0 0 0 24px;

//     li {
//       position: relative;
//       margin: 8px 0;
//       list-style: none;
//       // font-size: 0.9em;

//       &:before {
//         position: absolute;
//         top: 2px;
//         bottom: 3px;
//         left: -8px;
//         width: 3px;
//         content: "";
//         background: $colorBlack;
//         border-radius: 3px;
//       }
//     }
//   }
// }

// @import "milestone";
// @import "timeline-bar";
.roadmap-progress {
  max-width: 42vw;
  height: 100%;
  background-color: $color-albaster;

  div:first-child {
    // overflow: auto !important;
    overflow: hidden;

    height: 100%;
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border-radius: 0px;
      background-color: transparent;
    }

    ::-webkit-scrollbar {
      background-color: transparent;
      height: 16px;
      width: 16px;
    }

    ::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 10px;
      border: 5px solid#f9f9f9;
      background-color: $scroll-thumb-color;
    }
  }
}
.gantt-container {
  overflow: auto;
  font-size: 18px;
  height: 100%;
  max-height: calc(100vh - 280px);
}

.gantt {
  fill: $color-primary-blue;
  // .row-line {
  //   stroke: none;
  // }

  .upper-text {
    font-size: 16px;
  }
  .lower-text {
    font-size: 16px;
    text-anchor: middle;
  }
  .bar {
    pointer-events: none;
    grid-gap: 10px;

    height: 26px;

    fill: $color-primary-blue;
    // .bar-label {
    //   dominant-baseline: hanging;
    // }
  }

  .bar-label {
    font-size: 16px;
    fill: white !important;
  }

  // .grid-row {
  //   height: 54px;
  // }
}
